*{
    box-sizing: border-box;
}
a:focus{
    outline:none;
}
article, aside, details, figcaption, figure, footer,header,hgroup, menu, nav, section {
    display: block;
}
.main-wrapper {
    font-family: Roboto, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    margin: 0;
}
.footer {
    flex: 0 0 auto;
}
.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.headline{
    font-size: 40px;
    font-weight: 400;
}
.headline-black{
    color: #3f4244;
}
.headline-white{
    color: #ffffff;
}
.textbox-headline{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.textbox-text{
    font-size: 15px;
    font-weight: 400;
}
.button{
    display:flex;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.button-red{
    color: #ffffff;
    background-image: linear-gradient(to bottom, #ff6c54 1%, #ff2b59 99%);
}
.button-red:hover {
    background-image: linear-gradient(to bottom, #ff2b59 1%, #ff6c54 99%);
}
.button-size-m{
    height: 70px;
    width: 250px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.four-columns{
    display: flex;
    justify-content: space-between;
}
.contact__form-input{
    width:100%;
    height: 50px;
    background-color:transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0 15px;
}
@media (max-width: 1000px){
    .four-columns{
        flex-flow: row wrap;
        justify-content: center;
    }
    .button-size-m{
        height: 10vh;
        width: 35vw;
        max-width:250px;
        min-width: 120px;
        font-size: 0.8em;
    }
    .anchor-navigation{
        display: inline;
    }
    .headline{
        font-size: 2em;
    }
}

/* Mobile */
@media (max-width: 449px){
    .container{
        width:100%;
    }
}


@media (min-width: 450px){
    .container{
        width:420px;
    }
}

@media (min-width: 650px){
    .container{
        width:620px;
    }
}

/* Small */
@media (min-width: 768px){
    .container{
        width:750px;
    }
}

/* Medium */
@media (min-width: 992px){
    .container{
        width:970px;
    }
}

/* Large */
@media (min-width: 1200px){
    .container{
        width:1170px;
    }
}