.contact__wrapper{
    background-image: linear-gradient(-185.8deg, #ff6c54 1%, #ff2b59 99%);
}
.contact__textbox{
    text-align: center;
}
.contact__headline{
    padding: 45px 0 45px 0;
    margin: 0;
}
.contact__text{
    max-width: 765px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
    padding: 0 0 60px 0;
}
.contact__form-wrapper{
    max-width: 772px;
    padding: 0 0 90px 0;
    margin: 0 auto;
}
.contact__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.contact__form-name{
    align-self: start;
}
.contact__form-message{
    grid-column: 1/3;
    margin: 40px 0 40px 0;
}
.contact__form-button{
    grid-column: 1/3;
    padding: 20px 36px;
    justify-self: end;
    background-color: #233537;
    color: #ffffff;
    border: none;
}
::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder {color:#ffffff;}
:-moz-placeholder {color:#ffffff;}
:-ms-input-placeholder {color:#ffffff;}

@media (max-width: 355px){
    .contact__form{
        grid-template-columns: 1fr;
    }
    .contact__form-message{
        grid-column: 1;
    }
    .contact__form-button{
        grid-column: 1;
    }
    
}
@media (max-width: 650px){
    .contact__headline{
        padding: 20px 0 20px 0;
    }
    .contact__text{
        padding: 0 0 20px 0;
    }
    .contact__form-wrapper{
        padding: 0 0 20px 0;
    } 
    .contact__form-message{
        margin: 20px 0 10px 0;
    }
}