.header__wrapper{
    background-color:rgb(255,255,255,0.95);
    z-index: 9999999;
    position:fixed;
    top:0;
    width: 100%;
    box-shadow: 0px 0px 15px -5px #000000;
}
.header__inner{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
}
.header__left-content{
    flex:1;
}
.right-content_menu-list{
    overflow: hidden;
    list-style: none;
    display:flex;
    justify-content: flex-end;
}
.right-content_menu-item:not(:last-child){
    margin-right: 15px;
}
.right-content_menu-link{
    text-decoration: none;
    display:block;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3f4244;
}
.right-content_menu-link:hover {
    background: linear-gradient(to top, #4cdecb 20%, #68fac6 80%);
    border-radius: 10px;
    color: #ffffff;
}
/*burger menu*/
.shy-menu { 
    display: block;
    position: fixed;
    height: 35px;
    width: 35px;
    background-color: rgba(33,40,44,.3);
    border-bottom-right-radius: 10px;
    color: #fff;
    z-index: 1;
  }
  .shy-menu-ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
  }
  .shy-menu-link{
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    max-width: 200px;
    color: #ffffff;
    padding: 20px 60px;
  }
  .shy-menu-link:hover{
    background-color: #10cab7;
  }
  .shy-menu.is-open,
  .shy-menu:hover { 
    background-color: rgba(33,40,44,1);
  }
  
  .shy-menu.is-open {
    height: auto;
    width: auto;
    padding: 0 0 20px 0;
  }
  
  .shy-menu-panel { 
    margin-left: -500px;
  }
  .is-open .shy-menu-panel { 
    margin-left: 0;
  }
  .shy-menu-hamburger {
    position: relative;
    left: 0;
    top: 0;
    width: 54px;
    height: 54px;
    display: block;
    overflow: hidden;
    cursor: pointer;
  }
  
  .shy-menu-hamburger > .layer {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    overflow: hidden;
    position: absolute;
      left: 5px;
    width: 18px;
  }
  
  .shy-menu-hamburger .layer.top { top: 9px; }
  .is-open .shy-menu-hamburger .layer.top { 
    top: 17px;
    left: 5px;
    transform: rotate(45deg);
  }
  .shy-menu-hamburger .layer.mid { top: 16px; }
  .is-open .shy-menu-hamburger .layer.mid {
    opacity: 0;
    left: 0;
  }
  .shy-menu-hamburger .layer.btm { top: 23px; }
  .is-open .shy-menu-hamburger .layer.btm { 
    top: 17px;
    left: 5px;
    transform: rotate(-45deg);
  }
@media (min-width: 850px){
    .shy-menu{
        display: none;
    }
}
@media (max-width: 849px){
    .header__inner{
        height: 0;
        display: none;
    }
}