.footer__wrapper{
    background-color:#233148;
}
 .footer__inner{
    height: 100px;
    display: flex;
    align-items: center;
 }
.footer__left-content{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    flex:1;
}
.footer__right-content{
    display: flex;
    flex:1;
    justify-content: flex-end;
}
.footer__right-content-icon{
    width:30px;
    text-align:center;
}
.footer__right-content-icon:not(:last-child){
    margin-right: 5vw;
}
@media (max-width: 670px){
    .footer__inner{
        flex-direction: column;
        height: auto;
    }
    .footer__text{
        text-align: center;
    }
  }