.banner__wrapper{
    position: relative;
    height: 100vh;
    background-image: url(../images/banner-bg.png);
    display: flex;
    align-items: center;
}
.banner__text{
    color: #ffffff;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}
.banner__button{
    margin:0 auto;
}
@media (max-width: 900px){
    .banner__wrapper{
        margin: 0;
    }
    .banner__text{
        font-size: 3em;
    }
}