.iconbox__wrapper{
    background-color: #ffffff;
    padding-bottom: 11vh;
}
.iconbox__4column{
    padding: 8vh 0;
}
.iconbox__box{
    text-align: center;
    max-width: 265px;
    align-self: baseline;
}
.iconbox__textbox-headline{
    color: #3f4244;
}
.iconbox__textbox-text{
    color: #929ba0;
}
.iconbox__button{
    margin: 0 auto;
}
@media (max-width: 900px){
    .iconbox__textbox-text{
        max-width: 40vw;
        margin: 0 auto;
    }
  }