.screens__wrapper{
    height: 680px;
    background-image: url(../images/screens-bg.png);
    position: relative;
}
.screens__textbox{
    padding: 90px 0 0 0;
    margin: 0 auto;
    text-align: center;
    max-width: 765px;
}
.screens__textbox-headline{
    margin: 0;
}
.screens__textbox-text{
    color: #ffffff;
    padding: 40px 0 0 0;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}
.screens__top{
    background-image: url(../images/screens-hat-top.png);
    background-repeat: no-repeat;
    padding: 70px 0 0 0;
    width: 625px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.img-top{
    display: block;
}
.screens__bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-self: flex-end;
}
.screens__bottom-left{
    background-image: url(../images/screens-hat-bottom.png);
    background-repeat: no-repeat;
    padding: 55px 0 0 0;
    width: 460px;
    left: 0;
}
.screens__bottom-right{
    background-image: url(../images/screens-hat-bottom.png);
    background-repeat: no-repeat;
    padding: 55px 0 0 0;
    width: 460px;
    right: 0;
}
.hat-bottom{
    display: block;
}
.img-bottom{
    display: block;
}
@media (max-width: 1000px){
    .screens__screen-imgbox{
        display: none;
    }
    .screens__wrapper{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .screens__textbox{
        padding: 0;
    }
    .screens__textbox-text{
        padding: 20px 0 0 0;
    }
}