.two-phones__wrapper{
    background-color: #ffffff;
}
.two-phones__inner{
    display: flex;
    height: 86vh;
    justify-content: flex-end;
    align-items: center;
}
.two-phones__left-content{
    width: 325px;
    height: 435px;
    position: relative;
    margin: 0 110px 0 0;
}
.left-phone{
    position: absolute;
    z-index: 1;
}
.left-phone-inner{
    background-image: url(../images/two-phones-left-top.png);
    background-repeat: no-repeat;
    width: 215px;
    height: 435px;
    position: relative;
}
.left-phone-screen{
    position: absolute;
    top:50px;
    left:15px;
}
.right-phone{
    position: absolute;
    left: 165px;
    top:70px;
}
.right-phone-inner{
    background-image: url(../images/two-phones-right-bottom.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 325px;
    position: relative;
}
.right-phone-screen{
    position: absolute;
    top:40px;
    left:10px;
}
.two-phones__right-content{
    width: 565px;
}
.two-phones__headline{
    margin: 0;
    padding: 0 0 50px 0;
}
.two-phones__text{
    color: #929ba0;
    font-size: 15px;
    font-weight: 300;
    padding: 0 0 60px 0;
    margin: 0;
}
@media (max-width: 1000px){
    .two-phones__left-content{
        display: none;
    }
    .two-phones__inner{
        justify-content: center;
        height: 100vh;
    }
    .two-phones__wrapper{
        height: 100vh;
    }
    .two-phones__right-content{
        text-align: center;
    }
    .two-phones__headline{
        padding: 0 0 5vh 0;
    }
    .two-phones__text{
        color: #929ba0;
        font-size: 15px;
        padding: 0 0 5vh 0;
    }
    .two-phones__button{
        margin: 0 auto;
    }
}
@media (max-height: 500px){
    .two-phones__left-content{
        display: none;
    }
    .two-phones__inner{
        justify-content: center;
        height: 100vh;
    }
    .two-phones__wrapper{
        height: 100vh;
    }
    .two-phones__right-content{
        text-align: center;
    }
    .two-phones__headline{
        padding: 0 0 5vh 0;
    }
    .two-phones__text{
        color: #929ba0;
        font-size: 15px;
        padding: 0 0 5vh 0;
    }
    .two-phones__button{
        margin: 0 auto;
    }
}