.portfolio__wrapper{
    background-image: linear-gradient(to bottom, #6dffc6 1%, #3fd2ce 99%);
    padding: 0 0 65px 0;
}
.portfolio__headline{
    text-align: center;
    padding: 90px 0 35px 0;
    margin: 0;
}
.portfolio__text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 0 80px 0;
    text-align: center;
    margin: 0;
}
.portfolio__grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 0 0 4vh 0;
}
.portfolio__grid-iconbox{
    background-color: #ffffff;  
}
.portfolio__grid-iconbox-box{
    text-align: center;
    padding: 0;
    margin: 0;
}
.portfolio__grid-iconbox-img{
    width: 100%;
    height: auto;
}
.portfolio__grid-iconbox-textbox{
    margin: 0;
}
.portfolio__grid-iconbox-textbox-headline{
    margin: 0;
    padding: 20px 0 25px 0;
    color: #3f4244;
}
.portfolio__grid-iconbox-textbox-text{
    margin: 0;
    padding: 0 0 30px 0;
    color: #929ba0;
}
@media (max-width: 480px){
    .portfolio__grid-wrapper {
        grid-template-columns: 100%;
    }
}