.about__wrapper{
    background-color: #233537;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__four-columns-iconbox{
    flex: 0 auto;
    min-width: 140px;
}
.about__four-columns-img-wrapper{
    height: 65px;
    width: auto;
    position: relative;
}
.about__four-columns-img{
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.about__four-columns-textbox{
    text-align: center;
}
.about__four-columns-textbox-headline{
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    padding: 40px 0 30px 0;
    margin: 0;
}
.about__four-columns-textbox-text{
    color: #10cab7;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
@media (max-width: 1000px){
    .about__wrapper{
        height: auto;
    }
  }