.team__wrapper{
    background-color: #ffffff;
    padding: 0 0 55px 0;
}
.team__textbox{
    text-align: center;
}
.team__textbox-headline{
    padding: 80px 0 45px 0;
    margin: 0;
}
.team__textbox-text{
    max-width: 765px;
    color: #929ba0;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
    padding: 0 0 100px 0;
}
.team__four-columns-iconbox{
    margin: 0;
    width: 270px;
    background-image: linear-gradient(-205.91deg, #6dffc6 1%, #3fd2ce 99%);
    margin: 0 10px 0 0;
}
.team__four-columns-img{
    width: 100%;
    height: auto;
}
.team__four-columns-textbox{
    text-align: center;
}
.team__four-columns-textbox-headline{
    color: #3f4244;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0 15px 0;
    margin: 0;
}
.team__four-columns-textbox-text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.team__four-columns-textbox-text-bottom{
    color: #3f4244;
    font-size: 15px;
    font-weight: 400;
    padding: 30px 30px 35px 30px;
}
@media (max-width: 900px){
    .team__wrapper{
        height: auto;
    }
    .team__four-columns-iconbox{
        margin: 0 0 10px 0;
    }
}

@media (max-width: 285px){
.team__four-columns-iconbox{
    width: 100%;
}
}